/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height: 100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
section, header{
	display: block;
}
/* General Demo Style */
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #95AB9D url(../images/texture.png) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #3a2127;
	overflow-y: scroll;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	width: 100%;
	padding-bottom: 40px;
	min-width: 590px;
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container > header{
	padding: 20px;
	margin: 0px 20px 20px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
	font-family: 'Montserrat', Impact, Arial, sans-serif;
	text-transform: uppercase;
}
.container > header h1{
	font-size: 68px;
	line-height: 70px;
	position: relative;
	font-weight: 800;
	letter-spacing: 2px;
	color: #D26A44;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1), 0 0 1px #D26A44;
    padding: 0px 0px 60px 0px;
	
}
.container > header h1 span:nth-child(4),
.container > header h1 span:nth-child(5),
.container > header h1 span:nth-child(6),
.container > header h1 span:nth-child(7){
	color: #452716;
	text-shadow: 1px 0px 1px rgba(255,255,255, 0.4), 0 0 1px #452716;
}
.container > header h2{
	font-size: 18px;
	line-height: 30px;
	color: #F8ECBF;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
section{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.main, .sub{
	border-bottom: 3px dashed rgba(248, 236, 191, 0.6);
	padding-bottom: 50px;
}
.sub{
	padding: 50px 0px;
}
.example, .code{
	width: 40%;
	padding: 5%;
	float: left;
}
.code{
	text-align: left;
	font-family: 'Montserrat', Impact, Arial, sans-serif;
	color: #452716;
}
.code h4{
	font-size: 28px;
	padding-bottom: 10px;
	color: #D26A44;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
code{
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	padding: 20px;
	background: rgba(0, 0, 0, 0.1);
	clear: both;
	position: relative;
	display: block;
	margin-top: 10px;
	border-radius: 10px;
}
.buttons{
	width: 495px;
	height: 100px;
	clear: none;
	margin-top: 50px;
}
.buttons a{
	float: left;
	display: block;
}
.buttons a span{
	display: block;
}
.buttons a span{
	display: block;
	font-size: 13px;
	padding: 2px 10px;
	margin: 3px 3px;
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	background: rgba(193,49,0,0.8);
}
.buttons a span:last-child{
	background: #F8ECBF;
	font-size: 11px;
	color: rgba(193,49,0,0.8);
	min-height: 45px;
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.codrops-top a:hover{
	background: #fff;
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
p.codrops-demos{
	text-align:center;
	display: block;
	padding: 14px;
}
p.codrops-demos a,
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
	font-size: 11px;
	padding: 2px 10px;
	margin: 0px 3px;
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	background: rgba(193,49,0,0.8);
}
p.codrops-demos a:hover{
	background: #FFFBD0;
	color: rgba(193,49,0,0.5);
}
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
	color: #FFFBD0;
	background: #D26A44;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.05) inset;

}
/* Media Queries */
@media screen and (max-width: 1140px) {
	.example, .code{
		width: 90%;
		padding: 5%;
		float: none;
	}
	.buttons{
		clear:both;
	}
}